*~
_book
sftp-config.json
.DS_Store
EnableVoice/rokid-vsvy-sdk-docs/

node_modules
yarn.lock
.idea/
5-enableVoice/rokid-vsvy-sdk-docs/rookie-guide/rookie-guide.md
5-enableVoice/rokid-vsvy-sdk-docs/rookie-guide/rookie-guide.md
5-enableVoice/rokid-vsvy-sdk-docs/yodaosSystem/yimo/README.md
5-enableVoice/rokid-vsvy-sdk-docs/yodaosSystem/yimo/README.md
5-enableVoice/rokid-vsvy-sdk-docs/rookie-guide/images/ximalyaurl.jpg
